<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Task 05 JS Game</title>
  </head>
  <body>
      <header class="header">
        <h1 class="header__game-name">Mini Frogger</h1>
        <h2 class="header__game-motto">Help the water pokemon reach the water!</h2>
      </header>
      <main>
        <div class="container">                 
          <div class="aside">
            <p class="aside__score">Your score: <span id="score"></span></p>
            <p class="aside__max-score">Record: <span id="max-score"></span></p>
            <div class="aside__image"><img src="../images/content/ash.png" alt="Ash Ketchum"></div>
          </div>
          <div id="game-container"></div>
          <div class="nav">
            <div class="accord">
              <input class="accord__radio" type="radio" id="ka1" name="ak"/>
              <label class="accord__page" for="ka1">About</label>
              <p class="accord__text"><a href="https://en.wikipedia.org/wiki/Frogger" target="_blank">Frogger</a> is a classic arcade game developed by Konami and originally published by Sega.</p>
              <input class="accord__radio" type="radio" id="ka2" name="ak" />
              <label class="accord__page" for="ka2">Control Keys</label>
              <p class="accord__text"><img src="../images/content/wasd.png" alt="Control Keys"></p>
              <input class="accord__radio" type="radio" id="ka3" name="ak"/>
              <label class="accord__page" for="ka3">Game Rules</label>
              <p class="accord__text">
                <em>1.</em> Pokemon starts on the grass, it needs to get to the water and not be caught in the Pokeball.<br>
                <em>2.</em> Control the Pokemon with buttons and avoid collisions with flying Pokeballs.<br>
                <em>3.</em> If the Pokemon reaches the water, you will receive one point.<br>
                <em>4.</em>If you can collect a star, then you get three extra points.<br>
                <em>5.</em> The goal is to accumulate as many points as possible.<br>
                <em>6.</em> If the Pokemon is caught, you will lose all accumulated points.<br>
                <em>7.</em> Press Space to pause the game.
              </p>
            </div>
          </div>

        </div>        
      </main>
      <footer class="footer">&copy Dmitrii Suroviagin, EPAM, 2020</footer>
  </body>
</html>
